# Python
__pycache__/
*.py[cod]
venv/
.env
*.db

# Node
node_modules/
dist/
.vite/

# Uploads (ikke commit filer, bare struktur)
uploads/*
!uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
